* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fdf4dc;
}

.container_head {
  position: relative;
  width: 500px;
  height: 70vh;
  border: 2px solid #7e6551;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #7e6551;
}

header {
  position: absolute;
  top: 10px;
  left: 2px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task {
  position: absolute;
  background-color: #d5ceb9;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  top: 50px;
  width: 100%;
  height: 30px;
  font-weight: bold;
}

.dlt_btn {
  position: absolute;
  right: 10px;
  background-color: #d5ceb9;
  border: none;
  display: flex;
  align-items: center;
  color: #7e6551;
  font-size: medium;
  font-weight: bold;
}

.para {
  position: absolute;
  left: 10px;
}

.nav {
  margin-bottom: 300px;
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #936b4a;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 40px;
  display: flex;
  justify-content: center;
  overflow: hidden;
  gap: 80px;
}

ul li a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #4c3e32;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
  font-weight: bold;
}

i {
  color: #7e6551;
}

i:hover {
  color: #5f4c3d;
}

button:hover {
  color: #5f4c3d;
}

li a:hover {
  color: #5f4c3d;
  background-color: #e6e0cd;
}

.task-list {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 150px;
  gap: 10px;
}

 .task-card {
            background: #fdf4dc;
            border: 1px solid #5f4c3d;
            border-radius: 20px;
            padding: 15px 40px;
            margin-bottom: 15px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 400px;
            box-shadow: 0 4px 6px 1px rgba(126, 101, 81, 0.3);
            
        }

        .task-info h3 {
            margin: 0;
            font-size: 16px;
            color: #7e6551;
        }

        .task-info p {
            margin: 5px 0 0;
            font-size: 12px;
            color: #7e6551;
        }

        .task-actions {
            display: flex;
            gap: 15px;
            align-items: center;
        }

        .action-icon { cursor: pointer; }
        .edit { color: #936b4a; }
        .delete { color: #936b4a; font-weight: bold;}
        .check-circle {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            border: 2px solid #936b4a;
            
        }

        