* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #fdf4dc;
  padding: 20px;
}

.container_head {
  position: relative;
  width: 100%;
  max-width: 500px;
  min-height: 70vh;
  border: 2px solid #7e6551;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: #7e6551;
  padding: 20px;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

header h3 {
  font-size: 1.2rem;
}

.task {
  background-color: #d5ceb9;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 10px 15px;
  border-radius: 8px;
  font-weight: bold;
  margin-bottom: 15px;
}

.dlt_btn {
  background-color: #d5ceb9;
  border: none;
  display: flex;
  align-items: center;
  color: #7e6551;
  font-size: medium;
  font-weight: bold;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 5px;
}

.para {
  font-size: 0.9rem;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #936b4a;
  border-radius: 8px;
  padding: 10px 0;
  margin-bottom: 15px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

ul li a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #4c3e32;
  text-align: center;
  padding: 8px 12px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  transition: background-color 0.3s;
}

i {
  color: #7e6551;
}

i:hover {
  color: #5f4c3d;
}

button:hover {
  color: #5f4c3d;
}

li a:hover {
  color: #5f4c3d;
  background-color: #e6e0cd;
}

.task-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
  margin-top: 10px;
}

.task-card {
  background: #fdf4dc;
  border: 1px solid #5f4c3d;
  border-radius: 20px;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-shadow: 0 4px 6px 1px rgba(126, 101, 81, 0.3);
}

.task-info h3 {
  margin: 0;
  font-size: 16px;
  color: #7e6551;
}

.task-info p {
  margin: 5px 0 0;
  font-size: 12px;
  color: #7e6551;
}

.task-actions {
  display: flex;
  gap: 15px;
  align-items: center;
}

.action-icon {
  cursor: pointer;
}

.edit {
  color: #936b4a;
}

.delete {
  color: #936b4a;
  font-weight: bold;
}

.check-circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #936b4a;
  cursor: pointer;
}

