* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    background-color: #FDF4DC;
 }

 .logform {
    display: flex;
    flex-wrap: wrap;
 }

 body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
 }

 .field {
    background-color: #FDF4DC;
    padding: 50px;   
    border: 2px solid #7e6551;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

 .User {
    color: #7e6551 ;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    
}

#Email, #Password, #Age, #Name {
    color: red;
}

.email, .password, .Age, .Name {
    width: 350px;
    height:45px;
    padding:7px;
    outline: none;
    border: 1px solid #7e6551 ;
    border-radius: 4px;
}


.btn {
  margin-top: 20px;
  background-color: #7e6551 ;
  color: white;
  border: none;
  border-radius: 40px;
  width: 350px;
  height: 40px;
  font-weight: bold;
}

.btn:hover {
    background-color: #5f4c3d;
    transition: 0.3s ease;
    cursor: pointer;
}

.No_Acc {
    text-align: center;
    color: grey;
}

#Sign {
    text-decoration: underline;
    color: rgb(38, 107, 205);
}

.fa-solid fa-circle-user {
    display: flex;
    justify-content: center;
    align-items: center; 
}

.container_input {
    position: relative;
}

input:focus {
    border: 1.5px solid;
     transition: all 0.1s; 
}

i {
    position: absolute;
    top: 12px;
    right:15px;
    color: #7e6551;
}

.logo {
    height: 50px;
    width: 50px; 
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: center;
    border-radius: 99999px; 
    overflow: hidden;
}

img{
    /* height: 100%;
    width: 100%; */
    overflow: hidden;
    object-fit: cover;
}


















